<div class = "Documentation">
<h2>Search variants by Chromosome and Position</h2>

	<p>
	Variants can be searched by providing appropriate chromosome, start and end position. These fields are mandatory. 
	To limit search results filter criteria can optionally be modified, such as sequencing platform, variant type, allele frequency range, 
	gene annotation and variant function. You can also subselect variants based on subgroups (e.g. Spanish). Our comparison has revealed substantial differences of SNP sets between sequencing platforms, 
	thus we suggest to select the same platform used in your study for comparative analysis. GEEVS currently provides gene annotations 
	based on RefSeq, Ensembl or UCSC. The search can further be restricted to specific annotation features (e.g. exotic) or variant function 
	(e.g. non synonymous SNV). The allele frequency filter is used to obtain a subset of SNVs with limited range of allele frequencies. Supported query formats for AF are:
	</p>
	<ul>
      	<li> Greater than ( > )</li>
      	<li> Greater than or Equal( >= )</li>
      	<li> Less than ( < )</li>
      	<li> Less than or Equal ( <=)</li>
      	<li> Equal to ( = )</li>
      	<li> Not Equal to ( != )</li>
      	<li> Between / Range ( <> )</li>
	</ul>
</div>


<div class = "Documentation">
<h2>Search variants by Gene</h2>
	
	<p>
	Variants can be searched by providing an approved HGNC gene name or an Ensembl gene identifier. Ensembl gene identifiers only work if the Ensembl gene annotation 
	is selected from the Gene Definition drop down menu. All other fields are optional and similar to the “Chromsome and Position” search panel explained above. 
	Please find more info about HGNC gene names <%= link_to :here , "http://www.genenames.org/", class: "nav_links_body" %>
	 and Ensembl gene identifers <%= link_to :here , "http://www.ensembl.org/index.html", class: "nav_links_body" %>.	
	</p>
</div>


<div class = "Documentation">
<h2>Search Result Fields</h2>
		<table>
			<tr>
			<th>Field</th>
			<th>Field Description</th>
			</tr>
			<tr>
			<td>Chr</td>
			<td>Chromosome</td>
			</tr>
			<tr>
			<td>Position</td>
			<td>Absolute coordinate(1-based system) on the chromosome</td>
			</tr>
			<tr>
			<td>Reference</td>
			<td>Allele in the reference sequence</td>
			</tr>
			<tr>
			<td>Alteration</td>
			<td>Observed allele in the sample</td>
			</tr>
			<tr>
			<td>Allele Freq</td>
			<td>Allele frequency in the GEUVADIS exome variant server</td>
			</tr>
			<tr>
			<td>Allele Count</td>
			<td>Alternate allele count in the GEUVADIS exome variant server</td>
			</tr>
			<tr>
			<td>Allele Number</td>
			<td>Total allele number in the GEUVADIS exome variant server</td>
			</tr>
			<tr>
			<td>DP</td>
			<td>Average read depth across valid samples in the GEUVADIS exome variant server</td>
			</tr>
			<tr>
			<td>Gene</td>
			<td>The gene the variant is hit</td>
			</tr>
			<tr>
			<td>Transcript</td>
			<td>The transcript of the gene that was hit by the variant</td>
			</tr>
			<tr>
			<td>AAC</td>
			<td>Amino acid change in the hit transcript. Format: AA1#position#AA2, which indicates that Amino Acid 1 was changed to Amino Acid 2 at that location 
				by the variation</td>
			</tr>
			<tr>
			<td>Variant Function</td>
			<td>Coding region impact of the variation</td>
			</tr>
			<tr>
			<td>Exonic Function</td>
			<td>Transcript region hit by the variant</td>
			</tr>
			<tr>
			<td>PhyloP(Pm,Pr,vt)</td>
			<td>PhyloP conservation scores in the order of placental mammal, primates and vertebrates. You can find more about this <%= link_to :here , "http://genome.ucsc.edu/cgi-bin/hgTables", class: "nav_links_body" %>, at the conservation tracks.</td>
			</tr>
			<tr>
			<td>PhastCons(Pm,Pr,vt)</td>
			<td>PhastCons conservation scores in the order of placental mammal, primates and vertebrates. You can find more about this <%= link_to :here , "http://genome.ucsc.edu/cgi-bin/hgTables", class: "nav_links_body" %>, at the conservation tracks.</td>
			</tr>
			<tr>
			<td>GERP++(s1,s2)</td>
			<td>GERP++ conservation scores. You can find more about this <%= link_to :here , "http://mendel.stanford.edu/SidowLab/downloads/gerp/", class: "nav_links_body" %></td>
			</tr>
			<tr>
			<td>SIFT</td>
			<td>Sift score for the variation</td>
			</tr>				
			<tr>
			<td>Pph2</td>
			<td>Polyphen2 score for the variation</td>
			</tr>
			<tr>
			<td>MutAss</td>
			<td>Mutationassessor score for the variation</td>
			</tr>
			<tr>
			<td>Condel</td>
			<td>Condel score for the variation</td>
			</tr>
			<tr>
			<td>Cadd1</td>
			<td>Cadd score1</td>
			</tr>
			<tr>
			<td>Cadd2</td>
			<td>Cadd score2</td>
			</tr>
			<tr>
			<td>dbSNP</td>
			<td>dbSNP rs identifier (v.138)</td>
			</tr>
			<tr>
			<td>AF(Eur:EVS,Afr:EVS,Tot:EVS)</td>
			<td>Allele frequency in the <%= link_to :"Washington Exome variant server","http://evs.gs.washington.edu/EVS/",class: "nav_links_body" %> 
				in ther order of European, African and Total (v.ESP5400)</td>
			</tr>
			<tr>
			<td>AF(Eur:1000G,Afr:1000G,Amr:1000G,Asia:1000G,Tot:1000G)</td>
			<td>Allele frequency in the 1000 genomes project in the order of European, African, American, Asian and Total</td>
			</tr>
			<tr>
			<td>SegDup</td>
			<td>Segmental Duplication score</td>
			</tr>
		</table>
</div>


<div class = "Documentation">
<h2>Annotation</h2>
	<p>
		All the variants were annotated at the Genomic and Epigenomic Variations in Disease research group in Center for Genomic Regulation - CRG, Barcelona. 
		Annotation was done by an inhouse developed tool with Annovar* integrated inside.
	</p>
	
	<p>
	* Wang K, Li M, Hakonarson H. ANNOVAR: Functional annotation of genetic variants from next-generation sequencing data, Nucleic Acids Research, 38:e164, 2010	
	</p>	
	
</div>