<table align="center">	
<tr>
<td>

	<div class= "Search">
       <table align="center">	
       	<tr>
       	   <td>
       	   Search variants in GEUVADIS European Exome Variant Server<br><br>
       	   <%= form_tag(:controller => 'gapp',:action => 'search') do %>
           <%= text_field_tag :searchTerm, nil, :class => 'sfield', :placeholder => "e.g. chr1:10000-1000000, ATM, ENSG00000187634" %>  &nbsp; <%= submit_tag("Search") %>
           <br><br>
           <b>Advanced Options</b>
           <br><br>
           Platform: <%= select_tag "chPlatform", options_for_select(@platform) %> &nbsp;
           Gene Definition: <%= select_tag "chGeneDef", options_for_select(@genedefinition) %>  &nbsp;
           Exonic Function: <%= select_tag "chFunction",options_for_select(@exonicFunction)  %>  &nbsp;
           <br><br>
           Variant Function: <%= select_tag "varfunction",options_for_select(@variantFunction) %> &nbsp;
           Allele Frequency: <%= text_field_tag :af ,nil, :class => 'sfieldOptionalaf', :placeholder => "e.g.>0.05,<>0.01,0.9" %>            
           <br><br>
       	   <% end %>
       	   </td>
       	</tr>	
       </table>
    </div>

</td>
</tr>

<tr>
<td>

</td>
</tr>

</table>
