<table align="center">	
<tr>
<td>

</div class= "Search"> 
	<div class= "Search">
	<h2>Search Variants in GEUVADIS Exome Variant Server</h2>
       <table>	
       	<tr>
       	   <td>
       	   <%= form_tag(:controller => 'gapp',:action => 'search') do %>
           <b>Search phrase</b>: <%= text_field_tag :searchTerm, '', size:50 %> &nbsp; [e.g. chr1:10000-1000000, ATM, ENSG00000187634] 
           <br><br>
           Platform: <%= select_tag "chPlatform", "<option selected=\"selected\">Illumina</option><option>Solid</option>".html_safe %> &nbsp;
           Gene definition: <%= select_tag "chGeneDef", "<option selected=\"selected\">Refseq</option><option>Ensembl</option><option>UCSC/Known</option>".html_safe %>  &nbsp;
           Exonic Function: <%= select_tag "chFunction", "<option selected=\"selected\">Exonic</option><option>Splicing</option><option>Intronic</option><option>UTR3</option><option>UTR5</option><option>Downstream</option><option>Upstream</option><option>Intergenic</option><option>ncRNA_exoic</option><option>ncRNA_splicing</option><option>ncRNA_intronic</option><option>ncRNA_UTR3</option><option>ncRNA_UTR5</option>".html_safe %>  &nbsp;
           <br><br>
           Allele Frequency: <%= text_field_tag :af %> [e.g. <0.05,<=0.05,>0.05,>=0.05,=0.05,!= 0.05,<>0.1,0.9] &nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp; <%= submit_tag("Search") %>
       	   <% end %>
       	   </td>
       	   <td></td>
       		<td width="35%" text-align="justify">
       			<p>
				You can search variants by providing appropriate chromosome, start and end positions.
				You can also modify your searching critereas such as selecting which sequencing platform you want to query,gene definitions and exonic function. 
				Finally, there is another optional filter critera Allele Frequency.
				You can be dynamic while using this field in various ways. Detailed description can be found 
				<%= link_to :here , :documentation , class: "nav_links_body" %>.  
				</p>
       	   </td>
       	</tr>	
       </table>
    </div>
</div>

</td>

</tr>




<tr>
	<td>
</div class= "Search"> 
	<div class= "Search">
	<h2>Search Variants by Chromosome and Position</h2>
       <table>	
       	<tr>
       	   <td>
       	   <%= form_tag(:controller => 'gapp',:action => 'search_chr_pos') do %>
           <b>Chromosome</b>: <%= select_tag "chromosome", options_for_select(@chr), :prompt => "Select" %> &nbsp;
           <b>Start</b>: <%= text_field_tag :start_pos %> [e.g. 112431] &nbsp;
           <b>End</b>: <%= text_field_tag :end_pos %> [e.g. 112445] &nbsp;
           <br><br>
           Platform: <%= select_tag "chPlatform", "<option selected=\"selected\">Illumina</option><option>Solid</option>".html_safe %> &nbsp;
           Gene definition: <%= select_tag "chGeneDef", "<option selected=\"selected\">Refseq</option><option>Ensembl</option><option>UCSC/Known</option>".html_safe %>  &nbsp;
           Exonic Function: <%= select_tag "chFunction", "<option selected=\"selected\">Exonic</option><option>Splicing</option><option>Intronic</option><option>UTR3</option><option>UTR5</option><option>Downstream</option><option>Upstream</option><option>Intergenic</option><option>ncRNA_exoic</option><option>ncRNA_splicing</option><option>ncRNA_intronic</option><option>ncRNA_UTR3</option><option>ncRNA_UTR5</option>".html_safe %>  &nbsp;
           <br><br>
           Allele Frequency: <%= text_field_tag :af %> [e.g. <0.05,<=0.05,>0.05,>=0.05,=0.05,!= 0.05,<>0.1,0.9] &nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag("Search") %>
       	   <% end %>
       	   </td>
       	   <td></td>
       		<td width="35%" text-align="justify">
       			<p>
				You can search variants by providing appropriate chromosome, start and end positions.
				You can also modify your searching critereas such as selecting which sequencing platform you want to query,gene definitions and exonic function. 
				Finally, there is another optional filter critera Allele Frequency.
				You can be dynamic while using this field in various ways. Detailed description can be found 
				<%= link_to :here , :documentation , class: "nav_links_body" %>.  
				</p>
       	   </td>
       	</tr>	
       </table>
    </div>
</div>

<div class= "Search">
<h2>Search Variants by Gene</h2>
</div>
</div class= "Search">
	<div class= "Search">
	    <table>
		<tr>
			<td>
 			    <%= form_tag(:controller => 'gapp',:action => 'search_gene') do %>

		        <b>Gene</b>: <%= text_field_tag :gene %> [HGNC gene names or Ensembl gene identifiers e.g. ATM, ENSG00000187634] &nbsp;
       			<br><br>
           		Platform: <%= select_tag "chPlatform", "<option selected=\"selected\">Illumina</option><option>Solid</option>".html_safe %>  &nbsp;
           		Gene definition: <%= select_tag "chGeneDef", "<option selected=\"selected\">Refseq</option><option>Ensembl</option><option>UCSC/Known</option>".html_safe %>  &nbsp;
           		Exonic Function: <%= select_tag "chFunction", "<option selected=\"selected\">Exonic</option><option>Splicing</option><option>Intronic</option><option>UTR3</option><option>UTR5</option><option>Downstream</option><option>Upstream</option><option>Intergenic</option><option>ncRNA_exoic</option><option>ncRNA_splicing</option><option>ncRNA_intronic</option><option>ncRNA_UTR3</option><option>ncRNA_UTR5</option>".html_safe %>  &nbsp;
        		<br><br>   
           		Allele Frequency: <%= text_field_tag :af %> [e.g. <0.05,<=0.05,>0.05,>=0.05,=0.05,!= 0.05,<>0.1,0.9] &nbsp;
           		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag("Search") %>
				<% end %>
			</td>
			<td></td><td></td>
       		<td width="35%" text-align="justify">
       			<p>
				You can search variants by HGNC approved Gene Names or Ensembl gene identifiers. The other fields are similar to previous search panel. 
				If you are searching variants by Ensembl gene identifiers, then you must select Ensembl gene definition in the Gene definition select box. 
				Detailed description can be found <%= link_to :here , :documentation , class: "nav_links_body" %>.  
				</p>
       		</td>
		</tr>
		</table>	
	</div>				
</div>

</td>
</tr>


<tr>

<td>

<div class = "footer">
	<table align="center">
		<tr>
			<td>
			<%= image_tag('geuFooter.png') %>
			</td>
			<td>An application of European Geuvadis Consortium
			</td>
			<td> &nbsp; | &nbsp; </td>
			<td><b>Beta Version</b>
			</td>
		</tr>	
	</table>
</div>
</td>


</tr>


</table>
