<table align="center">	
<tr>
<td>
	<div class= "Search">
	<h3></h3>
       <table align="center">	
       	<tr>
       	   <td>
       	   <%= form_tag(:controller => 'gapp',:action => 'search_chr_pos_show') do %>
           <b>Chromosome</b>: <%= select_tag "chromosome", options_for_select(@chr), :prompt => "Select" %> &nbsp;
           <b>Start</b>: <%= text_field_tag :start_pos, nil, :class => 'sfieldOptional' %> &nbsp;
           <b>End</b>: <%= text_field_tag :end_pos, nil, :class => 'sfieldOptional' %> &nbsp;&nbsp;<%= submit_tag("Search") %>
           <br><br>
           <b>Advanced Options</b>
           <br><br>
           <!--Platform: <%= select_tag "chPlatform", options_for_select(@platform) %> &nbsp;-->
           Variant type: <%= select_tag "chvartype", options_for_select(@vartype) %> &nbsp;
           Gene Definition: <%= select_tag "chGeneDef", options_for_select(@genedefinition) %>  &nbsp;
           <br><br>
           Exonic Function: <%= select_tag "chFunction", options_for_select(@exonicFunction) %>  &nbsp;
           Variant Function: <%= select_tag "varfunction",options_for_select(@variantFunction) %>&nbsp;
           <br><br>
           Subgroup: <%= select_tag "subgroup",options_for_select(@subgrp) %> &nbsp;           
           Allele Frequency: <%= text_field_tag :af ,nil, :class => 'sfieldOptionalaf',:placeholder => "e.g. >0.05" %>
           <br><br>
       	   <% end %>
       	   </td>
       	</tr>	
       </table>
    </div>
</td>
</tr>
</table>