<div class = "Documentation">
<h2>GEEVS Data Analysis	(Beta Version)</h2>

	<p>
	For the beta version release, aggregation has been done between Munich (209 samples) and Barcelona (200 samples). Data from Nijemegen (164 samples)
	has been kept separate as it is from a different sequencing platform. All the reported variants were filtered in the following manner:  
	</br>
	</p>
	<ul>
      	<li> Only variants located in the corresponding exome enrichment kit from each site were considered.</li>
      	<li> Only chromosome 1-22, X and Y were considered.</li>
	</ul>
	<p>Some aggregation statistics are given below.</p>
</div>

<div class = "Documentation">
<h2>Percentage of knowns (ref: dbSNP v.137) for all sites and aggregation</h2>
	<table>
		<tr><td>
		<%= image_tag('KnownNEW_2.png')%>
		</td></tr>
	</table>
</div>

<div class = "Documentation">
<h2>TiTv profile for all sites and aggregation</h2>
	<table>
		<tr><td>
		<%= image_tag('titvNEW_2.png')%>
		</td></tr>
	</table>
</div>

<div class = "Documentation">
<h2>Frequency against 1000 Genomes for all sites and aggregation</h2>
	<table>
		<tr><td>
		<%= image_tag('freq_plots_1K_2.png')%>
		</td></tr>		
		<tr><td>
		<%= image_tag('freq_plots_1KNEW_2.png')%>
		</td></tr>
	</table>
</div>

<div class = "Documentation">
<h2>Frequency against Washington Exome Variant Server for all sites and aggregation</h2>
	<table>
		<tr><td>
		<%= image_tag('freq_plots_EVS_2.png')%>
		</td></tr>		
		<tr><td>
		<%= image_tag('freq_plots_EVSNEW_2.png')%>
		</td></tr>
	</table>
</div>