<table align="center">
<tr>
<td>		
	<div class = "Search">
  	<%= form_tag(:controller => 'users', :action => 'accountRequestHandler') do %>
  	<table align="center">
  		<tr>
  			<th>
  			  <b>Account Request for Data Submission</b>		
  			</th>
  		</tr>
  		<tr>
 			<td>
 		    <%= text_field_tag :username,nil,:placeholder => "username of your choice", :class => "signupPanel" %> 			 
			</td>
		</tr>
		<tr>
			<td>
		    <%= text_field_tag :email,nil,:placeholder => "email", :class => "signupPanel" %>
		    </td>
		</tr>
		<tr>
			<td>
		    <%= text_field_tag :institute,nil,:placeholder => "institute/university", :class => "signupPanel" %>
		    </td>
		</tr>
		<tr>
			<th>
      		<%= submit_tag "Send Request" %>
  			</th>
  		</tr>
  	</table>	
  	<% end %>
	</div>
</td>
</tr>
</table>