<table align="center">
<tr>
<td>		
	<div class = "Search">
  	<%= form_tag(:controller => 'users', :action => 'create') do %>
  	<table align="center">
  		<tr>
  			<th>
  			  <b>SignUp for Data Submission</b>		
  			</th>
  		</tr>
  		<tr>
 			<td>
 		    <%= text_field_tag :username,nil,:placeholder => "username", :class => "signupPanel" %> 			 
			</td>
		</tr>
		<tr>
			<td>
		    <%= text_field_tag :email,nil,:placeholder => "email", :class => "signupPanel" %>
		    </td>
		</tr>
		<tr>    
		    <td>
  			<%= password_field_tag :password, nil, :placeholder => "password" , :class => "signupPanel"%>
  			</td>
  		</tr>
  		<tr>	
  			<td>
		    <%= password_field_tag :password_confirmation, nil, :placeholder => "password confirmation" , :class => "signupPanel"%>
		    </td>
		</tr>
		<tr>
			<th>	   
      		<%= submit_tag "SignUp", disabled: true %>
  			</th>
  		</tr>
  	</table>	
  	<% end %>
	</div>
	  	  			<p class = "alertPanel"> <b>SignUp is currently off. Sorry for the inconvenience. !!</b></p>
</td>
</tr>
</table>


<div class ="geuvadisconsortiumPanel">
	<table align="center">
		<tr>
			<th>
				European GEUVADIS consortium
			</th>
		</tr>
		<tr>
			<td>
				<%= image_tag('horLine.png')%>
			</td>	
		</tr>
	</table>
	<table align="center">	
		<tr>
			<td>		
				<%= link_to (image_tag('geuFooter.png')), "http://www.geuvadis.org/web/geuvadis", target: "_blank" %>
			</td>
			<td>
				<%= link_to (image_tag('fp7Footer.gif')), "http://cordis.europa.eu/fp7/home_en.html", target: "_blank" %>
			</td>
			<td></td><td></td><td></td>
			<td>
				<%= link_to (image_tag('euFooter.png')), "http://ec.europa.eu/index_en.htm", target: "_blank" %>				
			</td>
		</tr>
	</table>	
</div>



<div class ="datapartnerPanel">
	<table align="center">
		<tr>
			<th>
				Data providers
			</th>
		</tr>
		<tr>
			<td>
				<%= image_tag('horLine.png')%>
			</td>	
		</tr>
	</table>
	<table align="center">	
		<tr>
			<td>		
				<%= link_to (image_tag('CRG-logo.png')), "http://pasteur.crg.es/portal/page/portal/Internet/", target: "_blank" %>
			</td>
			<td></td>
			<td>
				<%= link_to (image_tag('MUN-logo.png')), "#", target: "_blank" %>
			</td>
			<td></td>
			<td>
				<%= link_to (image_tag('NIJ-logo.png')), "#", target: "_blank" %>				
			</td>
		</tr>
	</table>	
</div>



