<!DOCTYPE html>
<html>
<head>
  <title>Geuvadis Exome Variants Server</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults, "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="Banner">
		<table align="center">
			<tr>
			<td><%= link_to (image_tag('geuLogoLeft.png')), "http://www.geuvadis.org/web/geuvadis", target: "_blank" %></td>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			<td><%= link_to (image_tag('geuBanner7.png')), :home %></td>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>			
			<td><%= image_tag('geuRightPadding.png')%></td>
			</tr>
		</table>		
	</div>	
	
	
	<div class="container">
		<div class="lognav_banner">
			<table align="center">
				<tr>
				<!--	
				<% unless session[:user]%>
		  			<%= form_tag(:controller => 'users', :action => 'authenticateUser') do %>				
					<td>
						<%= text_field_tag :login_username , nil, :class => "logfieldPanel" ,:placeholder => "username" %>
					</td>
					<td>
						<%= password_field_tag :login_password, nil,:class => "logfieldPanel", :placeholder => "password" %>
					</td>
					<td>
						<%= submit_tag("Login") %>
					</td>			
					<% end -%>
				<% end -%>
				-->
				<% if session[:user] %>
					<td>
					<!-- ><div class="nav_banner"> <-->
					<ul class="nav">
						<li><%= link_to :GEEVS , :home, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Search by Coordinate" , :search_chr_pos, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Search by Gene" , :search_gene, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Statistics", :stat, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Submit Data", :submitdata, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"How to?" , :documentation, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :About, :about, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :Contact, :contact, class: "nav_links" %></li>
						<li> | </li>
					</ul>
					<!-- >	</div> <-->	
					</td>
					<td><p>Logout</p></td>
					<td>
						<%= link_to (image_tag('logout.png')), :controller => "users", :action => "logout"%>
					</td>
				<% else -%>
					<td>
					<!-- ><div class="nav_banner"> <-->
					<ul class="nav">
						<li><%= link_to :GEEVS , :home, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Search by Coordinate" , :search_chr_pos, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Search by Gene" , :search_gene, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Statistics", :stat, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"How to?" , :documentation, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :About, :about, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :Contact, :contact, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :Login, :login, class: "nav_links" %></li>
						<li> | </li>
						<li><%= link_to :"Account Request", :accountRequest, class: "nav_links" %></li>
					</ul>
					<!-- >	</div> <-->	
					</td>	
				<% end -%>
				</tr>	
			</table>
	</div>

	
		<% if flash[:color]== "valid" %>
			<div class="valid_notice">
				<p><%= flash[:notice]%></p>
			</div>
		<% elsif flash[:color]== "invalid"%>
			<div class="invalid_notice">
				<p><%=flash[:notice]%></p>
			</div>
		<%else%>
		<%end%>
	
		<%= yield %>
	
		<div class = "footer">
		<table align="center">
			<tr>
				<td><b>Beta Version</b></td>
				<td> &nbsp; | &nbsp; </td>
				<td>An application of the FP7 GEUVADIS Consortium (261123)
				</td>
				<td></td><td></td><td></td>
				<td>		
					<%= link_to (image_tag('geuFooter.png')), "http://www.geuvadis.org/web/geuvadis", target: "_blank" %>
				</td>
				<td></td><td></td><td></td>
				<td>
				<%= link_to (image_tag('euFooter.png')), "http://ec.europa.eu/index_en.htm", target: "_blank" %>
				</td>
				<td></td><td></td><td></td>
				<td>
				<%= link_to (image_tag('fp7Footer.gif')), "http://cordis.europa.eu/fp7/home_en.html", target: "_blank" %>				
				</td>
				<td></td><td></td><td></td>
				<td>
				<%= link_to (image_tag('laCaixa.png',:height => 50)), "http://obrasocial.lacaixa.es/", target: "_blank" %>				
				</td>
			</tr>	
		</table>
		</div>	
	</div>
	

</body>
</html>